
body {
  background: #181818;
  color: #fcfcfc;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.Main {
  position: relative;
  z-index: 1;
}

canvas {
  z-index: 0;
}
