
.FPS {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 9px;
  font-family: 'Source Code Pro', Consolas, Menlo, monospace;

  span {
    vertical-align: bottom;
  }
}

.FPS-title {
  margin-right: 3px;
  line-height: 8px;
}

.FPS-tick {
  position: relative;
  display: inline-block;
  min-height: 1px;
  max-height: 8px;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.75);
}
